.btn-login {
  border: 1px solid #0d3b72;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}
.btn-login:hover {
  background: #0d3b72;
  color: #fff;
}

.button {
  background: #031898;
  background: -moz-linear-gradient(left, #031898 0%, #0481d4 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #031898),
    color-stop(100%, #0481d4)
  );
  background: -webkit-linear-gradient(left, #031898 0%, #0481d4 100%);
  background: -o-linear-gradient(left, #031898 0%, #0481d4 100%);
  background: -ms-linear-gradient(left, #031898 0%, #0481d4 100%);
  background: linear-gradient(to right, #031898 0%, #0481d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031898', endColorstr='#0481d4', GradientType=1 );
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 500;
}
