@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #070a52;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 400px) {
  .hero-content h1 {
    font-size: 30px;
  }
  .searchBar__div input {
    width: 320px;
  }
  .searchBar__div input::placeholder {
    font-size: 12px;
  }
  .img-hero {
    width: 350px;
  }

  .hero-home {
    margin-top: 20px;
  }

  .container_hero {
    margin-top: 40px;
  }

  .container_hero h2 {
    text-align: center;
  }

  .wrapping__about {
    margin-top: 150px;
  }

  .wrap__about {
    padding: 3rem 0;
  }

  .wrap__keahlian {
    position: static;
  }
  .about__container .header__about {
    font-size: 24px;
  }
  .wrap__about h2 {
    color: #fff;
  }
}
